.itemCard {
    margin-top: 0 !important;
}

// .itemCard:hover {
//     background-color: #FFD200;
// }

.activeCard {
    background-color: #999999 !important;
}
.coloricon{
    color: #FF0000;
}

.show {
    display: block;
}

.noShow {
    display: none;
}